.header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 50vh;
    background-image: url('../../img/BlackThemeBanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center,center;
}


/* Estilos para dispositivos móviles (ancho máximo de 768px) */
@media (max-width: 768px){
    /* Estilos específicos para móviles */
    .header-h1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 15vh;
        background: linear-gradient(45deg, #d9ff00, #ff6600, #ff0000); /* Degradado de colores */
        background-clip: text; /* Aplicar el degradado al texto */
        -webkit-background-clip: text; /* Para navegadores basados en WebKit */
        color:transparent;
        font-weight: bolder;
        font-size: 1.2rem;
        margin: 0px;
        text-align: center;
    }
    
    
}
    
/* Estilos para tablets (ancho máximo de 1024px) */
@media (max-width: 1024px) and (min-width:769px){
    /* Estilos específicos para tablets */
    .header-h1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 15vh;
        background: linear-gradient(45deg, #d9ff00, #ff6600, #ff0000); /* Degradado de colores */
        background-clip: text; /* Aplicar el degradado al texto */
        -webkit-background-clip: text; /* Para navegadores basados en WebKit */
        color:transparent;
        font-weight: bolder;
        font-size: 1.5rem;
        margin: 0px;
        text-align: center;
    }
    
    
}

/* Estilos para computadoras de escritorio (ancho mínimo de 1025px) */
@media (min-width: 1025px) {
    /* Estilos específicos para escritorio */
    .header-h1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 15vh;
        background: linear-gradient(45deg, #d9ff00, #ff6600, #ff0000); /* Degradado de colores */
        background-clip: text; /* Aplicar el degradado al texto */
        -webkit-background-clip: text; /* Para navegadores basados en WebKit */
        color:transparent;
        font-weight: bolder;
        font-size: 1.8rem;
        margin: 0px;
        text-align: center;
    }
    
}