.project-cards-carrousel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}

.project-cards-carrousel-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 65%;
    height: 57vh;
    z-index: 100;
    padding-left:1vw;
    padding-right:1vw;
    gap:35px;
    overflow: hidden;
}

.project-cards-carrousel-button:hover{
    box-shadow: 0px 0px 15px rgb(255, 133, 62); /* Box shadow para el efecto de sombra */
    transform: scale(1.1);
}

/* Estilos para dispositivos móviles (ancho máximo de 768px) */
@media (max-width: 768px){
    /* Estilos específicos para móviles */

    .project-cards-carrousel-button{
        display: flex;
        justify-content: center;
        align-items: center;
        width:8vw;
        height:8vw;
        color: rgb(255, 106, 7);
        font-size: 1.5rem;
        font-weight: bolder;
        border-radius: 100%;
        background-color: transparent;
        transition: 0.2 all ease;
        border:1px solid rgb(219, 62, 0);
        z-index: 101;
    
    }
    
}
    
/* Estilos para tablets (ancho máximo de 1024px) */
@media (max-width: 1024px) and (min-width:769px){
    /* Estilos específicos para tablets */
    
    .project-cards-carrousel-button{
        display: flex;
        justify-content: center;
        align-items: center;
        width:4vw;
        height:4vw;
        color: rgb(255, 106, 7);
        font-size: 1.5rem;
        font-weight: bolder;
        border-radius: 100%;
        background-color: transparent;
        transition: 0.2 all ease;
        border:1px solid rgb(219, 62, 0);
        z-index: 101;
    
    }
}

/* Estilos para computadoras de escritorio (ancho mínimo de 1025px) */
@media (min-width: 1025px) {
    /* Estilos específicos para escritorio */

    .project-cards-carrousel-button{
        display: flex;
        justify-content: center;
        align-items: center;
        width:4vw;
        height:4vw;
        color: rgb(255, 106, 7);
        font-size: 1.5rem;
        font-weight: bolder;
        border-radius: 100%;
        background-color: transparent;
        transition: 0.2 all ease;
        border:1px solid rgb(219, 62, 0);
        z-index: 101;
    }
}